<footer>
    <div class="container">
        <div class="row">
            <div class="footer-left">
                <div class="logo">
                    <a href="index.html"><img alt="" src="../img/logo-inverse.png"></a>
                </div>
                <p>
                    Занимайтесь важным
                    Рутину сделаем мы
                </p>
            </div>
            <div class="footer footer-menu">
                <div class="menu-main-menu-footer-container">
                    <ul id="menu-main-menu-footer-1" class="link-list last-child">
                        <li
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-34">
                            <a href="#">О нас</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-35"><a
                                        href="#">Команда</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-36"><a
                                        href="#">Сертификаты</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-37"><a
                                        href="#">Вакансии</a></li>
                            </ul>
                        </li>
                        <li
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-38">
                            <a href="#">Услуги</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39"><a
                                        href="#">Коммерческое управление недвижимостью</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40"><a
                                        href="#">Техническая эксплуатация</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-41"><a
                                        href="#">Брокеридж</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42"><a
                                        href="#">Дополнительные услуги</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-43"><a
                                        href="#">Гастроном под ключ</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="link-list link">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-44"><a
                                href="#">Проекты</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-45"><a
                                href="#">Арендаторам</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-46"><a
                                href="#">Новости</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-47"><a
                                href="#">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-links">
                <div class="log-in">
                    <a href="javascript:void(0);" class="registration">Регистрация</a>
                    <a href="javascript:void(0);" class="entrance ">Вход</a>
                </div>
                <a href="tel:+74951234567" class="telephone">+7 (495) 123-45-67</a>
                <div class="action">
                    <a href="javascript:void(0);" class="btn btn-inverse">Заказать звонок</a>
                </div>
            </div>
            <div class="footer-info">
                <span class="address">Москва, Пресненская наб., 7</span>
                <a href="mailto:info@grandeon.ru" class="mail">info@grandeon.ru</a>
                <div class="social">
                    <a href="#" class="insta" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                            id="Capa_1" x="0px" y="0px" viewBox="0 0 28 28" style="enable-background:new 0 0 28 28;"
                            xml:space="preserve">
                            <path
                                d="M27.9,8.8c0-4.8-3.9-8.6-8.6-8.6H8.8C4,0.1,0.1,4,0.1,8.8v10.5c0,4.8,3.9,8.6,8.6,8.6h10.5c4.8,0,8.6-3.9,8.6-8.6V8.8z   M25.5,19.3c0,3.4-2.8,6.3-6.3,6.3H8.8c-3.4,0-6.3-2.8-6.3-6.3V8.8c0-3.4,2.8-6.3,6.3-6.3h10.5c3.4,0,6.3,2.8,6.3,6.3V19.3z" />
                            <path
                                d="M14,7.1c-3.8,0-6.9,3.1-6.9,6.9s3.1,6.9,6.9,6.9s6.9-3.1,6.9-6.9S17.8,7.1,14,7.1z M14,18.5c-2.5,0-4.5-2-4.5-4.5  s2-4.5,4.5-4.5s4.5,2,4.5,4.5S16.5,18.5,14,18.5z" />
                            <g>
                                <g>
                                    <circle cx="21.5" cy="6.5" r="0.9" />
                                </g>
                            </g>
                        </svg>
                    </a>
                    <a href="#" class="facebook" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                            id="Слой_1" x="0px" y="0px" viewBox="0 0 28 28" style="enable-background:new 0 0 28 28;"
                            xml:space="preserve">
                            <path
                                d="M17.4,7.1c0,0,0.1-0.1,0.8-0.1l2.3,0C21.3,7,22,6.3,22,5.5v-4C22,0.7,21.3,0,20.5,0l-3.4,0c-2.1,0-3.9,0.7-5.2,2  c-1.3,1.3-2,3.2-2,5.3v2H7.5C6.7,9.4,6,10.1,6,10.9v4.3c0,0.8,0.7,1.5,1.5,1.5h2.5v9.9c0,0.8,0.7,1.5,1.5,1.5h4.4  c0.8,0,1.5-0.7,1.5-1.5v-9.9h3c0.8,0,1.5-0.7,1.5-1.5l0-4.3c0-0.5-0.3-1-0.8-1.3c-0.2-0.1-0.5-0.2-0.7-0.2h-3V7.8  C17.3,7.2,17.4,7.1,17.4,7.1z M10.8,14.7H7.9v-3.5h2.9c0.6,0,1-0.5,1-1V7.4c0-3.4,2-5.5,5.3-5.5l3,0v3.2l-1.9,0  c-0.7,0-1.6,0.1-2.2,0.8c-0.5,0.6-0.6,1.3-0.6,2v2.4c0,0.6,0.5,1,1,1h3.5l0,3.5h-3.5c-0.6,0-1,0.5-1,1v10.3h-3.6V15.8  C11.8,15.2,11.4,14.7,10.8,14.7z" />
                        </svg>
                    </a>
                    <a href="#" class="vk" target="_blank"></a>
                </div>
                <div class="links">
                    <a href="javascript:void(0);" class="politic">Политика Конфиденциальности</a>
                    <a href="javascript:void(0);" class="">Разработано в "Студия Племя"</a>
                    <a href="javascript:void(0);" class="">© 2020 г., ИП «GRANDEON»</a>
                </div>
            </div>
        </div>
    </div>

</footer>